@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:where(.css-dev-only-do-not-override-3rel02).ant-btn-lg,
:where(.css-dev-only-do-not-override-3rel02).ant-input-lg
{
  font-size: 1.4rem;
}

:where(.css-dev-only-do-not-override-3rel02).ant-input-lg {
  padding: 0.85rem;
}

button {
  background-color: none;
  border: 0;
}

.ant-card-body {
  padding: 1rem !important;
}
