@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:where(.css-dev-only-do-not-override-3rel02).ant-btn-lg,
:where(.css-dev-only-do-not-override-3rel02).ant-input-lg
{
  font-size: 1.4rem;
}

:where(.css-dev-only-do-not-override-3rel02).ant-input-lg {
  padding: 0.85rem;
}

.ant-carousel .slick-dots li button {
  display: none;
}

button {
  background-color: none;
  border: 0;
}

.ant-card-body {
  padding: 1rem !important;
}

.header-jor span {
  /* border-left: 0.1rem solid #000; */
  /* padding-left: 0.8rem; */
}

.header-jor span:first-child {
  border: none;
}


